@page "/"
@inject IQuizService QuizService

<PageTitle>Главная страница</PageTitle>

@if (QuizService.GetQuizzes().Count() > 0)
{
    <a href="/CreateQuiz" class="btn btn-primary" role="button">Создать опрос</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quiz in QuizService.GetQuizzes())
            {
                   <td>@quiz.Name</td>
                   <td>@quiz.Author</td>
            }
        </tbody>
    </table>
} else {
    <p>На данный момент никаких опросов нет.</p>
    <p>Ты можешь сделать первый!</p>
}

<a href="/CreateQuiz" class="btn btn-primary" role="button">Создать опрос</a>
